<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MyWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51181/Remote/MyWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="MyWebServiceSoap"
                contract="MyWebServiceTest.MyWebServiceSoap" name="MyWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>